TestClient/Service References/MessageServiceReference/Messaging2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Messaging.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Messaging.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3204/Messaging.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3204/Messaging.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Messaging.Shared" />
  <xs:complexType name="EmailMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Messaging.Shared" base="q1:BaseMessage">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attachments" nillable="true" type="q2:ArrayOfbase64Binary" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BodyType" type="tns:EmailBodyType" />
          <xs:element minOccurs="0" name="From" nillable="true" type="tns:EmailIdentity" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="To" nillable="true" type="tns:EmailIdentity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailMessage" nillable="true" type="tns:EmailMessage" />
  <xs:simpleType name="EmailBodyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Plain" />
      <xs:enumeration value="Html" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmailBodyType" nillable="true" type="tns:EmailBodyType" />
  <xs:complexType name="EmailIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailIdentity" nillable="true" type="tns:EmailIdentity" />
  <xs:complexType name="SmsMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Messaging.Shared" base="q3:BaseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SmsMessage" nillable="true" type="tns:SmsMessage" />
</xs:schema>